@using sp19team23finalproject.Controllers

@{
    ViewBag.Title = "Detailed Search";
}

@*this is title of position search page*@
<h2>Search for Positions</h2>
<form asp-action="DisplaySearchResults" asp-controller="Positions" method="get">

    <div class="form-group">
        <label>Search Company Name</label>
        <input name="CompanyName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Search Industry</label>
        <input name="Industry" class="form-control" />
    </div>

    <div class="form-group">
        <label>Select a Position Type: </label><br />
        <label class="radio">@Html.RadioButton("SelectedPositionType", PositionDuration.All, true) All </label><br />
        <label class="radio">@Html.RadioButton("SelectedPositionType", PositionDuration.FT) Full-Time</label><br />
        <label class="radio">@Html.RadioButton("SelectedPositionType", PositionDuration.I) Internship</label><br />
    </div>

    <div class="form-group">
        <label>Select A Major</label>
        @*TODO: create viewbag and method for All Majors*@
        @Html.DropDownList("SelectedMajor", (SelectList)ViewBag.AllMajors, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Search Location</label>
        <input name="LocationSearch" class="form-control" />
    </div>
  

    <button type="submit" class="btn btn-danger">Search</button>

</form>
