
<h1>Seed Data</h1>
<p>These buttons will seed your data!  Push them to add data to your database!!</p>


<a asp-controller="Seed" asp-action="SeedMajors" class="btn btn-info">Seed Majors</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedCompanies" class="btn btn-warning">Seed Companies</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedPositions" class="btn btn-warning">Seed Positions</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedInterviews" class="btn btn-warning">Seed Interviews</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedApplications" class="btn btn-warning">Seed Applications</a>